* {
    padding: 0; 
    margin: 0;
}
header {
    background-color: black;
}

h1 span {
    display:flex; 
    flex-direction: column;
    color: white;
}

header li {
    display: inline;
    margin-right: 4vw;
}

header ul {
    position: absolute;
    right: 5vw;
    top: 0; 
    line-height: 80px;
}

header a {
    color: white;
    text-decoration: none;
}

header li:hover {
    background-color: #fff;
    color: #000;
}